body {
  padding: 0px 30px 30px 20px;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}
.container{
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid $color-border;
}
 
  .image {
    width: 212px;
	height:613px;
	margin: 0 0 10px 10px;
  }
 
    .description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
    .input {
	  margin-left: 20px;
      width: 40px;
    }
  
  .remove{
    width: auto;
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: bold;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .remove:hover {
    background-color: #a44;
  }
  
  .total{
    float: right;
    width: 100%;
    margin-bottom: 10px;
  }
     
    .label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }
 
  
.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}
.checkout:hover {
  background-color: #494;
}
